.error {
    color: red;
}

  .query{
      padding:0% 10%;
  }

  .query-options {
      width: 100%;
  }


  .query-option{
    border: solid;
    width: 35%;
    float: left;
    margin: 1% 3%;
    padding: 1% 3%;
    height: 4rem;
  }